<!DOCTYPE html>
<html>
    <head>
        <title>main html folder</title>
        <link rel="icon" href='/image/download.png'>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
         <div class="main-content">
            {{>header}}
            <p>This site was created by Shivani Singh. It's a weather site, which is used to search the weather according to the location searched by the user</p>
            <img class="portrait" src="/image/WIN_20190722_17_34_15_Pro.jpg">
        </div>
    
        {{>footer}}
    </body>
</html>